@font-face {
  font-family: 'Gotham-Bold';
  src: url('../../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),  url('../../fonts/Gotham-Bold.otf')  format('opentype'),
       url('../../fonts/Gotham-Bold.woff') format('woff'), url('../../fonts/Gotham-Bold.ttf')  format('truetype'), url('../../fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Book';
  src: url('../../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),  url('../../fonts/Gotham-Book.otf')  format('opentype'),
       url('../../fonts/Gotham-Book.woff') format('woff'), url('../../fonts/Gotham-Book.ttf')  format('truetype'), url('../../fonts/Gotham-Book.svg#Gotham-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

input,
select,
textarea {
  font-size: .8em;
}
textarea {
  resize: none;
}

strong {
  font-weight: 600;
}

small {
  font-size: 70%;
}

.active > img {
  border-color: #333;
}

.hide {
  &.cta {
    display: none;
  }
  > * {
  color: #fff;
  }
}

.cta {
  background-color: #6db33f;
  color: #fff;
  margin-bottom: 5px;
}

#source-preview,
#vault-preview {
  overflow: hidden;
  position: relative;
  text-rendering: geometricPrecision;
  header {
    font-family: 'Gotham-Bold', sans-serif;
    z-index: 20;
    letter-spacing: -0.5pt;
  }
  p {
    font-family: 'Gotham-Book', sans-serif;
    line-height: 1.22;
    z-index: 10;
  }
}

#source-preview {
  height: 220px;
  width: 600px;
}

#vault-preview {
  height: 285px;
  width: 721px;
}

.background {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.positioning-container {
  left: 30px;
  position: relative;
}

#designOptions li {
  cursor: pointer;
}

.option1, .option2, .option3 {
  header {
    line-height: 1;
    margin-bottom: 12px;
  }
  .location,
  .date-time {
    margin-bottom: 12px;
  }
  .location {
    font-weight: 300;
  }
}

/* Source: Option 1 Theme */
#source-preview.option1 {
  .background {
    background: #fff url('../../images/bg-option1.png') no-repeat right top;
    background-size: 220px 220px;
  }
  .positioning-container {
    width: 360px;
  }
  header {
    color: #003d79;
    font-size: 22px;
  }
  .location,
  .date-time {
    font-size: 15px;
  }
}

/* Vault: Option 1 Theme */
#vault-preview.option1  {
  .background {
    background: #fff url('../../images/bg-option1.png') no-repeat right top;
    background-size: 285px 285px;
  }
  .positioning-container {
    width: 434px;
  }
  header {
    color: #003d79;
    font-size: 26px;
  }
  .location,
  .date-time {
    font-size: 18px;
  }
}

/* Source: Option 2 Theme */
#source-preview.option2 {
  color: #fff;
  .background {
    background: #6e6e6e url('../../images/bg-option2.png') no-repeat right bottom;
    background-size: 165px 220px;
  }
  .positioning-container {
    width: 410px;
  }
  header {
    font-size: 24px;
  }
  .location,
  .date-time {
    font-size: 18px;
  }
  .finePrint {
    color: #ccc;
  }
}
/* Vault: Option 2 Theme */
#vault-preview.option2 {
  color: #fff;
  .background {
    background: #6e6e6e url('../../images/bg-option2.png') no-repeat right bottom;
    background-size: 214px 285px;
  }
  .positioning-container {
    width: 510px;
  }
  header {
    font-size: 32px;
  }
  .location,
  .date-time {
    font-size: 22px;
  }
  .finePrint {
    color: #ccc;
  }
}

/* Source: Option 3 Theme */
#source-preview.option3 {
  .background {
    background: #fff url('../../images/bg-option3.png') no-repeat right top;
    background-size: 110px 220px;
  }
  .positioning-container {
    width: 370px;
  }
  header {
    font-size: 22px;
  }
  .location,
  .date-time {
    font-size: 16px;
  }
  .finePrint {
    color: #999;
  }
}

/* Vault: Option 3 Theme */
#vault-preview.option3 {
  .background {
    background: #fff url('../../images/bg-option3.png') no-repeat right top;
    background-size: 143px 285px;
  }
  .positioning-container {
    width: 480px;
  }
  header {
    font-size: 28px;
  }
  .location,
  .date-time {
    font-size: 20px;
  }
  .finePrint {
    color: #999;
  }
}